* {
  margin: 0;
}
.navbar {
  overflow: hidden;
  font-family: Oxygen;
}
.title a {
  color: #ba1e1e;
  float: left;
  padding: 15px;
}
.navbar a {
  text-decoration: none;
  font-size: 17pt;
  font-weight: bold;
  transition: 0.2s;
  border-bottom: 3px solid transparent;
}
.menu a {
  color: #1f50ba;
  float: left;
  padding: 15px;
}
.menu a:hover {
  border-bottom: 3px solid #1f50ba;
}
.youtube a {
  float: right;
  color: #333;
  font-size: 20pt;
  padding: 13px;
}
.youtube a:hover {
  float: right;
  color: red;
}
.tagline {
  font-family: Oxygen;
  font-size: 13.7pt;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.footer {
  text-align: center;
  overflow: hidden;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-family: Oxygen;
  padding: 15px;
  font-size: 25pt;
  flex: 1;
}
.footer a {
  color: #333;
}
.about {
  margin-left: 10%;
  margin-right: 10%;
  font-family: Oxygen;
  padding: 20px;
  font-size: 17pt;
  letter-spacing: 2px;
}
.atitle {
  text-align: center;
}
